@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

*,
*::before,
*::after {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Dark Theme */
html {
  --primary-clr: #0079ff;
  --primary-bg-clr: #141d2f;
  --primary-card-bg: #1e2a47;
  --primary-text: #ffffff;
  --dark-text: #2b3442;
  --toggle: #ffffff;
}

/* Light Theme */
html[data-theme="light"] {
  --primary-clr: #0079ff;
  --primary-bg-clr: #f8f8ff;
  --primary-card-bg: #ffffff;
  --primary-text: #4b6a9b;
  --dark-text: #2b3442;
  --toggle: #4b6a9b;
}

/* Basic Styles */
body {
  background: var(--primary-bg-clr);
  font-family: "Space Mono", monospace;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  padding: 2rem;
}

/* Header */
header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 2rem;
}

header .logo {
  font-size: 2.6rem;
  font-weight: bold;
  color: var(--primary-text);
}

header .toggle-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

header .toggle-light {
  display: none;
  justify-content: flex-end;
  align-items: flex-end;
}

header .toggle-light.active {
  display: flex;
}

header .toggle-light div {
  font-size: 1.3rem;
  text-transform: uppercase;
  color: var(--primary-text);
  margin-right: 1rem;
}
