@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

*,
*::before,
*::after {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-family: "Space Mono", monospace;
}

/* Dark Theme */
html {
  --primary-clr: #0079ff;
  --primary-bg-clr: #141d2f;
  --primary-card-bg: #1e2a47;
  --primary-text: #ffffff;
  --dark-text: #2b3442;
  --toggle: #ffffff;
}

/* Light Theme */
html[data-theme="light"] {
  --primary-clr: #0079ff;
  --primary-bg-clr: #f8f8ff;
  --primary-card-bg: #ffffff;
  --primary-text: #4b6a9b;
  --dark-text: #2b3442;
  --toggle: #4b6a9b;
}

/* Basic Styles */
body {
  background: var(--primary-bg-clr);
  font-family: var(--font-family);
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  padding: 2rem;
  max-width: 73rem;
}

/* Header */
header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 4rem;
}

header .logo {
  font-size: 2.6rem;
  font-weight: bold;
  color: var(--primary-text);
}

header .toggle-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

header .toggle-light,
header .toggle-dark {
  display: none;
  justify-content: flex-end;
  align-items: flex-end;
}

header .toggle-light img,
header .toggle-dark img {
  cursor: pointer;
}

header .toggle-light.active,
header .toggle-dark.active {
  display: flex;
}

header .toggle-light div,
header .toggle-dark div {
  font-size: 1.3rem;
  text-transform: uppercase;
  color: var(--primary-text);
  margin-right: 1rem;
}

/* Search Wrapper */
.search-wrapper {
  background: var(--primary-card-bg);
  border-radius: 1.5rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 1rem;
}

.search-wrapper img {
  margin-left: 1rem;
}

.search-wrapper input {
  background: transparent;
  border: none;
  font-size: 1.3rem;
  width: 50%;
  margin: 0 1rem;
  text-align: left;
  padding: 1rem;
  color: var(--primary-text);
}

.search-wrapper input::placeholder {
  color: var(--primary-text);
  font-family: var(--font-family);
}

.search-wrapper input:focus {
  outline: none;
}

.search-wrapper small {
  display: none;
  color: #f74646;
  font-size: 1.5rem;
  font-weight: light;
  margin-right: 1rem;
}

.search-wrapper button {
  background: var(--primary-clr);
  color: var(--primary-text);
  padding: 1rem;
  border-radius: 1.2rem;
  border: none;
  font-size: 1.4rem;
  width: 8rem;
  height: 4.6rem;
  font-family: var(--font-family);
}

/* Profile Wrapper */
.profile-wrapper {
  background: var(--primary-card-bg);
  padding: 2rem;
  border-radius: 2rem;
}

.profile-wrapper.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: minmax(10rem, auto);
  gap: 1rem;
  justify-content: center;
  /* grid-template-areas:
    "profileImageWrapper profileUserWrapper"
    "profileBioWrapper profileBioWrapper"
    "profileStatsWrapper profileStatsWrapper"
    "profileSocialWrapper profileSocialWrapper"; */
}

.profile-image-wrapper {
  /* grid-area: profileImageWrapper; */
  grid-column: 1/2;
  grid-row: 1/2;
}

.profile-user-wrapper {
  /* grid-area: profileUserWrapper; */
  grid-column: 2/5;
  grid-row: 1/2;
}

.profile-bio-wrapper {
  /* grid-area: profileBioWrapper; */
  grid-column: 1/5;
  grid-row: 2/3;
}

.profile-stats-wrapper {
  /* grid-area: profileStatsWrapper; */
  grid-column: 1/5;
  grid-row: 3/4;
}

.profile-social-wrapper {
  /* grid-area: profileSocialWrapper; */
  grid-column: 1/5;
  grid-row: 4/5;
}

.profile-image-wrapper img {
  border-radius: 50%;
  height: 7rem;
  width: 7rem;
}

.profile-user-wrapper {
  margin-bottom: 2rem;
}

.profile-user-wrapper .profile-name {
  color: var(--primary-text);
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
}

.profile-user-wrapper .username {
  color: #0070ff;
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
}

.profile-user-wrapper .join-date {
  color: var(--primary-text);
  font-size: 1.3rem;
}

.profile-bio-wrapper {
  margin-bottom: 1rem;
}

.profile-bio-wrapper .bio {
  color: var(--primary-text);
  font-size: 1.3rem;
  line-height: 1.75;
  margin-bottom: 2rem;
}

.profile-bio-wrapper .profile-stats {
  background: var(--primary-bg-clr);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  color: var(--primary-text);
  padding: 2rem;
  border-radius: 1.5rem;
}

.profile-bio-wrapper .profile-stats .repos,
.profile-bio-wrapper .profile-stats .followers,
.profile-bio-wrapper .profile-stats .following {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-bio-wrapper .profile-stats .repos small,
.profile-bio-wrapper .profile-stats .followers small,
.profile-bio-wrapper .profile-stats .following small {
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

.profile-bio-wrapper .profile-stats .repos p,
.profile-bio-wrapper .profile-stats .followers p,
.profile-bio-wrapper .profile-stats .following p {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.profile-social-wrapper div {
  display: flex;
  margin-bottom: 2rem;
  justify-content: flex-start;
  align-self: center;
}

.profile-social-wrapper img {
  height: 2rem;
  width: 2rem;
  margin-right: 1rem;
}

.profile-social-wrapper a {
  font-size: 1.3rem;
  color: var(--primary-text);
}

@media (min-width: 760px) {
  body {
    background: red;
  }
}
